# Application
NODE_ENV=development
PORT=3000
AUTHORA_BASE_URL=http://localhost:3000

# PostgreSQL
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USERNAME=authora
PG_PASSWORD=changeit
PG_DATABASE=authora_db

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Redis
REDIS_URL=redis://localhost:6379

# Security
HASH_MEMORY_COST=65536
HASH_TIME_COST=3
HASH_PARALLELISM=4
EMAIL_VERIFICATION_TOKEN_EXPIRATION_SECONDS=86400
ACCOUNT_DELETION_TOKEN_EXPIRATION_SECONDS=3600
TWO_FACTOR_AUTH_VERIFY_TOKEN_EXPIRATION_SECONDS=86400
TWO_FACTOR_AUTH_VALIDATE_TOKEN_EXPIRATION_SECONDS=86400
TWO_FACTOR_AUTH_DISABLING_TOKEN_EXPIRATION_SECONDS=86400
FORGOT_PASSWORD_TOKEN_EXPIRATION_SECONDS=3600
AUTH_SESSION_TTL_SEC=600
EXCHANGE_TOKEN_EXPIRATION_SECONDS=300
MAGIC_LINK_TOKEN_EXPIRATION_SECONDS=300
# JWT_ISSUER=authora
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=900
JWT_REFRESH_TOKEN_SHORT_EXPIRATION_SECONDS=86400
JWT_REFRESH_TOKEN_LONG_EXPIRATION_SECONDS=2592000
THROTTLE_TTL_SECONDS=60
THROTTLE_ORIGIN_LIMIT=30
THROTTLE_IDENTITY_LIMIT=10
THROTTLE_COMBINED_LIMIT=5

# Password strength
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_DIGIT=true
PASSWORD_REQUIRE_SPECIAL_CHAR=true
PASSWORD_REQUIRE_LOWERCASE=true
PASSWORD_REQUIRE_UPPERCASE=true
PASSWORD_FORBID_SEQUENTIAL_CHARS=false
PASSWORD_FORBID_REPEATED_CHARS=false
PASSWORD_FORBID_KEYBOARD_SEQUENCE=false
PASSWORD_FORBID_USER_INFO=true
PASSWORD_FORBID_COMMON_PASSWORD=false

# Delay
ENDPOINT_DELAY_MIN_MS=200
ENDPOINT_DELAY_MAX_MS=400
