# Application
NODE_ENV=development
PORT=3000
AUTHORA_BASE_URL=http://localhost:3000

# PostgreSQL
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USERNAME=authora
PG_PASSWORD=changeit
PG_DATABASE=authora_db

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Redis
REDIS_URL=redis://localhost:6379

# Security
# JWT_ISSUER=authora
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem

# Password strength
PASSWORD_MIN_LENGTH=8
PASSWORD_REQUIRE_DIGIT=true
PASSWORD_REQUIRE_SPECIAL_CHAR=true
PASSWORD_REQUIRE_LOWERCASE=true
PASSWORD_REQUIRE_UPPERCASE=true
PASSWORD_FORBID_SEQUENTIAL_CHARS=false
PASSWORD_FORBID_REPEATED_CHARS=false
PASSWORD_FORBID_KEYBOARD_SEQUENCE=false
PASSWORD_FORBID_USER_INFO=true
PASSWORD_FORBID_COMMON_PASSWORD=false
