# Application
NODE_ENV=development
PORT=3000
AUTHORA_BASE_URL=http://localhost:3000

# Multi-tenant
ENABLE_MULTI_TENANT=false

# Authora-UI
AUTHORA_UI_ENABLED=true
AUTHORA_UI_BASE_URL=https://localhost:3000/ui

# PostgreSQL
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USERNAME=authora
PG_PASSWORD=changeit
PG_DATABASE=authora_db

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Redis
REDIS_URL=redis://localhost:6379

# Security
# JWT_ISSUER=authora
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem
